* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: Arial, sans-serif;
}

h1,
h2 {
  margin: 0;
}

header {
  background-color: #171b26;
  color: white;
}

main {
  background-color: white;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
/* layout header */

.profile-layout {
  display: flex;
  gap: 30px;
  align-items: center;
}

.sidebar img {
  width: 200px;
  border-radius: 10px;
}

.content h2 {
  background-color: #212530;
  display: inline-block;
  padding: 5px 10px;
  margin-top: 5px;
}

.info {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.info p {
  margin: 5px 0 10px;
}

/* main layout */

.main-layout {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.secondary {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.skills {
  display: flex;
  gap: 40px;
  margin-top: 10px;
}

ul {
  padding-left: 20px;
  font-weight: bold;
}

//responsive design

/* Tablet */
@media (max-width: 900px) {
  .profile-layout,
  .main-layout,
  .info,
  .skills {
    flex-direction: column;
  }

  .sidebar img {
    width: 150px;
  }
}

/* Handphone */
@media (max-width: 576px) {
  .sidebar img {
    width: 120px;
    display: block;
    margin: 0 auto;
  }

  .content {
    text-align: center;
  }

  .info,
  .skills {
    text-align: center;
  }

  ul {
    font-size: 1rem;
  }
}
